@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #1E1E1E; 
}

header {
    display: flex; /* ativar o flexbox */
    justify-content: space-between; /*distribuir os elementos para as pontas*/
    align-items: center;
    background-color: #A4BAB7;
    padding: 20px 20px;
    position: relative;
}

header > h1 {
    font-family: 'Knewave', Arial, Helvetica, sans-serif;
}

#burguer {
    color: #1E1E1E;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    color: #EFF2C0;
}

menu {
    z-index: 99;
    display: none;
    position: absolute;
    top: auto;
    right: auto;
}

menu > ul  {
    font-family: 'Knewave', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

menu > ul > li {
    display: block;
}

menu > ul > li > a {
    display: block;
    text-decoration: none;
    background-color: #EFF2C0;
    color: #1E1E1E;
    padding: 5px;
    border-radius: 20px;
}

menu > ul > li > a:hover {
    color: #EFF2C0;
    background-color: #1E1E1E;
    cursor: pointer;
    z-index: 10;
}

main > div > #anime img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.377);
    margin-top: 150px;
}

.container {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    transform: translate(0%, 20%);
}

.bottom {
    margin-top: auto;
}

.container h1 {
    font-family: 'Knewave', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3em;
    color: #EFF2C0;
}

.container p {
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1em;
    color: white;
}

